.background9 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZIBmrP3Mb_g6wV9lQvBt-Kd56w92-qLUm0g&s");
    background-size: cover;
    background-position: center;
    height: 91vh; 
    width: 100%;
  }
  
  .color {
    background-color: #E5E4E2;
  }
  
  .adjust {
    padding: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
  }
  
  .myplan-card {
    flex: 1;
    margin-right: 20px;                 
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 45%; /* Adjust the maximum width */
  }
  
  .myplan-card .card-header {
    background-color: #343a40;
    color: #fff;
    border-radius: 10px 10px 0 0;
  }
  
  .myplan-card .card-footer {
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px;
  }
  
  .myplan-table {
    flex: 1;
    margin-left: 40px;
    background-color: #343a40;
    color: #fff;
    max-width: 45%; /* Adjust the maximum width */
  }
  
  .myplan-table th, .myplan-table td {
    vertical-align: middle;
  }
  
  .myplan-table .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .myplan-table .btn-primary:hover {
    background-color: #0056b3;
  }
  